.form-horizontal
  = form_for list do |f|
    = render 'layouts/errors', object: list
    %div.form-group
      = f.label :name, {class: "col-sm-2 control-label"}
      %div.col-sm-10
        = f.text_field :name, {class: "form-control"}
    %div.form-group
      = f.label :description, {class: "col-sm-2 control-label"}
      %div.col-sm-10
        = f.text_field :description, {class: "form-control"}
    %div.form-group
      = f.label :tags, {class: "col-sm-2 control-label"}
      %div.col-sm-10
        = f.text_field :tags, {class: "form-control"}
    %div.form-group
      %div.col-sm-offset-2.col-sm-10
        = f.submit 'Save', {class: "btn btn-default"}
