%p#notice= notice

%p
  %b Name:
  = list.name
%p
  %b Description:
  = list.description

%h3
  Tasks
= render 'tasks/tasks'
%h4
  Add new task:
= render 'tasks/form'
%br

= link_to 'Edit', edit_list_path(list)
\|
= link_to 'Back', lists_path
\|
= link_to "Copy list", copy_and_paste_list_path(list), method: :post
- if list.original.present?
  \|
  = link_to "Original list", list_path(list.original_id)
- if list.copies.present?
  \|
  = link_to "Copies of this list", copies_path(list)
